<!DOCTYPE html>
{% extends 'make_trip/layout.html' %}
{% block container %}
{% load boost %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8 col-xl-8">
                <form action="{% url 'edit' id %}" method="post">
                    {% csrf_token %}
                        <div class="row mb-4">
                            <div class="col-6">
                                {{ group.title }}
                            </div>
                            <div class="col-6">
                                {{ trip.trip_name }}
                            </div>
                        </div>
                        <div class="row mb-5 justify-content-center">
                            <div class="col-5">
                                {{ trip.start}}
                            </div>
                            <h4 class="mt-2 text-light">〜</h4>
                            <div class="col-5">
                                {{ trip.end }}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-4">
                                {{ spot_first.spot_name }}
                            </div>
                            <div class="col-4">
                                {{ spot_first.spot_time }}
                            </div>
                            <div class="col-4">
                                {{ spot_first.spot_cost }}
                                {% if spot_first.spot_cost.errors %}
                                    <ul class="list-unstyled">
                                        {% for error in spot_first.spot_cost.errors %}
                                            <li class="text-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div id="tran_spot_total">
                            {{ transports.management_form }}
                            {{ spots.management_form }}
                            <div id="tranSpot_formset">
                                {% for transport, spot in transports|zip:spots %}
                                <div class="row justify-content-end mb-5" id="input-transport-form-{{ forloop.counter0 }}">
                                    <div class="col-2"><h1 class="text-light">↓</h1></div>
                                    <div class="col-3">
                                        {{ transport.transport_name }}
                                    </div>
                                    <div class="col-3">
                                        {{ transport.transport_time }}
                                    </div>
                                    <div class="col-3">
                                        {{ transport.transport_fee }}
                                        {% if transport.transport_fee.errors %}
                                            <ul class="list-unstyled">
                                                {% for error in transport.transport_fee.errors %}
                                                    <li class="text-danger">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-5" id="input-spot-form-{{ forloop.counter0 }}">
                                    <div class="col-4">
                                        {{ spot.spot_name }}
                                    </div>
                                    <div class="col-4">
                                        {{ spot.spot_time }}
                                    </div>
                                    <div class="col-4">
                                        {{ spot.spot_cost }}
                                        {% if spot.spot_cost.errors %}
                                            <ul class="list-unstyled">
                                                {% for error in spot.spot_cost.errors %}
                                                    <li class="text-danger">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="tranSpot"></div>
                        </div>
                        <button class="btn btn-outline-dark mr-3" type="button" id="addSpot">観光地を追加</button>
                        <button class="btn btn-outline-dark" type="button" id="delSpot">観光地を削除</button>
                        <div class="row mt-4" id="other_total">
                            <div class="col-12">
                                {{ others.management_form }} <!-- これは動的にフォームを追加する際は必要-->
                                <div id="other_formset">
                                    {% for other in others %}
                                    <div class="row mb-3" id="input-form-{{ forloop.counter0 }}">
                                        <div class="col-6">{{ other.extra_name }}</div>
                                        <div class="col-6">
                                            {{ other.extra_cost }}
                                            {% if other.extra_cost.errors %}
                                                <ul class="list-unstyled">
                                                    {% for error in other.extra_cost.errors %}
                                                        <li class="text-danger">{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div id="extra"></div>
                                <!-- <textarea class="form-control" name="extra" id="extra" rows="3"></textarea> -->
                            </div>
                        </div>
                        <button class="btn btn-outline-dark mr-3" type="button" id="addExtra">費用を追加</button>
                        <button class="btn btn-outline-dark" type="button" id="delExtra">費用を削除</button>
                        <div class="row justify-content-end">
                            <div class="col-3 text-light">
                                <p>合計: <span id="all_money">{{ all_money|safe }}</span> 円</p>
                                <!-- <p>合計金額: {{ all_money }} 円</p> -->
                            </div>
                        </div>
                        <!-- <div class="col-12"> -->
                        <a class="btn btn-success mr-5" href="{% url 'delete' id %}" role="button">この旅行を削除</a>
                        <!-- <button type="submit" class="btn btn-light btn-block border-0" style="background-color: rgba(191, 202, 63, 0.99);">完成!</button> -->
                        <button type="submit" class="btn btn-success btn-inline-block pr-5 pl-5">完成!</button>
                        <!-- </div> -->
                    </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(function(){
        $.datetimepicker.setLocale('ja');
        $('.bigDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            // numberOfMonths: 2
        });
        $('.smallDate').datetimepicker({
            step: 15,
            format: 'Y-m-d H:i',
        });
        $('.costs').on('focus', function(){
            var cost = Number($(this).val());
            if(cost != NaN){
                var costs = Number($('#all_money').text()) - cost
                $('#all_money').text(costs);
            }
        });
        $('.costs').on('blur', function(){

            var cost = Number($('#all_money').text())+ Number($(this).val());
            $('#all_money').text(cost);
        });

        // var all_money = JSON.parse('{{ all_money|safe }}')
        // $('#all_money').text(all_money);

        // transpot用にtotal_formを取得する
        var TotalManageElement = $('input#id_form-TOTAL_FORMS');
        var currentCount = parseInt(TotalManageElement.val());
        $('#addSpot').on('click', function(){
            // var new_tranSpot = $('#tranSpot_hidden').html();
            var new_tranSpot = `<div class="row justify-content-end mb-5" id="input-transport-form-0">
                <div class="col-2"><h1 class="text-light">↓</h1></div>
                <div class="col-3">
                    <input type="text" name="form-0-transport_name" class="form-control" placeholder="移動手段" maxlength="30" id="id_form-0-transport_name">
                </div>
                <div class="col-3">
                    <input type="text" name="form-0-transport_time" class="form-control smallDate" placeholder="乗る時間" autocomplete="off" id="id_form-0-transport_time">
                </div>
                <div class="col-3">
                    <input type="number" name="form-0-transport_fee" class="form-control costs" placeholder="料金" id="id_form-0-transport_fee">
                </div>
            </div>

            <div class="row mb-5" id="input-spot-form-0">
                <div class="col-4">
                    <input type="text" name="form-0-spot_name" class="form-control" placeholder="観光地" maxlength="50" id="id_form-0-spot_name">
                </div>
                <div class="col-4">
                    <input type="text" name="form-0-spot_time" class="form-control smallDate" placeholder="到着時間" autocomplete="off" id="id_form-0-spot_time">
                </div>
                <div class="col-4">
                    <input type="number" name="form-0-spot_cost" class="form-control costs" placeholder="滞在料金" id="id_form-0-spot_cost">
                </div>
            </div>`
            currentCount += 1
            new_tranSpot = new_tranSpot.replace(/form-0/g, 'form-'+currentCount);
            $('#tranSpot').append(new_tranSpot);
            $('input#id_form-'+ currentCount +'-spot_cost').removeClass('costs').addClass('tranSpot_costs');
            $('input#id_form-'+ currentCount +'-transport_fee').removeClass('costs').addClass('tranSpot_costs');
            TotalManageElement.attr('value', currentCount);

            $('.smallDate').datetimepicker({
                step: 15,
                format: 'Y-m-d H:i',
            });
            $('.tranSpot_costs').on('focus', function(){
                var cost = Number($(this).val());
                if(cost != NaN){
                    var costs = Number($('#all_money').text()) - cost
                    $('#all_money').text(costs);
                }
            });
            $('.tranSpot_costs').on('blur', function(){
                var cost = Number($('#all_money').text())+ Number($(this).val());
                $('#all_money').text(cost);
            });
        });
        // フォームを削除する
        $('#delSpot').on('click', function(){
            if ($('#tranSpot').children().length){
                console.log('world');
                // 削除されるフォームの金額を消す
                // ここはtransportとspotのフォームを２つとも消したいから2回書く必要がある
                var money = Number($('#tranSpot').children('div:last').find('.tranSpot_costs').val());
                $('#tranSpot').children('div:last').remove();

                var cost = Number($('#tranSpot').children('div:last').find('.tranSpot_costs').val());
                $('#tranSpot').children('div:last').remove();

                // 削除されるフォームの金額分を差し引く
                if (money == NaN){
                    var costs = Number($('#all_money').text()) - cost
                }else if(cost == NaN) {
                    var costs = Number($('#all_money').text()) - money
                }else{
                    var costs = Number($('#all_money').text())
                }
                // 合計金額が0を下回らないように一応書いておく
                if (costs <= 0) { $('#all_money').text('0'); }
                $('#all_money').text(costs);
            }else if($('#tranSpot_formset').children().length == 2){
                return ;
            }else{
                console.log('Hello');
                // 削除されるフォームの金額を消す
                // ここはtransportとspotのフォームを２つとも消したいから2回書く必要がある
                var money = Number($('#tranSpot_formset').children('div:last').find('.costs').val());
                $('#tranSpot_formset').children('div:last').remove();

                var cost = Number($('#tranSpot_formset').children('div:last').find('.costs').val());
                $('#tranSpot_formset').children('div:last').remove();

                // 削除されるフォームの金額分を差し引く
                console.log('money:', money);
                console.log('cost:', cost);
                var costs = Number($('#all_money').text()) - money - cost
                // 合計金額が0を下回らないように一応書いておく
                if (costs <= 0) { $('#all_money').text('0'); }
                $('#all_money').text(costs);

            }
            // currentCount -= 1
            // totalManageElement.attr('value', currentChoiceCount);
        });
        // other用のtotal_formsのvalueを取得する
        var TotalManageElement = $('input#id_form-TOTAL_FORMS');
        var currentCount = parseInt(TotalManageElement.val());
        $('#addExtra').on('click', function(){
            var new_code = `<div class="row mb-3" id="input-form-0">
                <div class="col-6"><input type="text" name="form-0-extra_name" class="form-control" placeholder="追加の費用の項目" maxlength="50" id="id_form-0-extra_name"></div>
                <div class="col-6"><input type="number" name="form-0-extra_cost"  class="form-control costs" placeholder="追加の費用" id="id_form-0-extra_cost"></div>
            </div>`
            new_code = new_code.replace(/form-0/g, 'form-'+currentCount);
            $('#extra').append(new_code);
            $('input#id_form-'+ currentCount +'-extra_cost').removeClass('costs').addClass('extra_costs');
            currentCount += 1
            TotalManageElement.attr('value', currentCount);
            $('.extra_costs').on('focus', function(){
                var cost = Number($(this).val());
                if(cost != NaN){
                    var costs = Number($('#all_money').text()) - cost
                    $('#all_money').text(costs);
                }
            });
            $('.extra_costs').on('blur', function(){
                var cost = Number($('#all_money').text())+ Number($(this).val());
                $('#all_money').text(cost);
            });
        });
        $('#delExtra').on('click', function(){
            // other_formsetかextraかをチェックする
            if ($('#extra').children().length){
                // extra_costsに入っているデータを取得する
                var money = Number($('#extra').children('div:last').find('.extra_costs').val());
                var costs = Number($('#all_money').text()) - money
                // 合計金額が0を下回らないように一応書いておく
                if (costs <= 0) { $('#all_money').text('0'); }
                $('#all_money').text(costs);
                $('#extra').children('div:last').remove();
            }else if($('#other_formset').children().length == 1){
                return ;
            }else{
                // extra_costsに入っているデータを取得する
                var money = Number($('#other_formset').children('div:last').find('.costs').val());
                var costs = Number($('#all_money').text()) - money
                // 合計金額が0を下回らないように一応書いておく
                if (costs <= 0) { $('#all_money').text('0'); }
                $('#all_money').text(costs);
                $('#other_formset').children('div:last').remove();
            };
            // currentCount -= 1
            // totalManageElement.attr('value', currentChoiceCount);
        });
    });
</script>
{% endblock %}