<!DOCTYPE html>
{% extends 'make_trip/layout.html' %}

{% load static %}

{% block container %}
<section>
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5">
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
            <h2 class="display-4">Web Diary</h2>
            <p>Web上で作成/編集/削除ができる日記</p>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="p-5">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5">
            <h2 class="display-4">Save Your Diary</h2>
            <p>あなたの日記をWebに保存</p>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5">
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
            <h2 class="display-4">Membership System</h2>
            <p>会員制のWeb日記サービス</p>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}