{% extends "make_trip/layout.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}

{% block container %}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-sm-12 mt-5 mb-3 mx-auto">
            <h3 class="text-secondary">{% trans "Password Reset" %}</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8 col-xl-6 col-md-8 col-sm-4 col-xs-12">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-dark">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <input type="submit" class="btn btn-block btn-success" value="{% trans 'Reset My Password' %}" />
                </form>

                <p class="text-danger mt-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}