{% extends "make_trip/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block container %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-sm-12 mt-5 mb-3 mx-auto">
                <h3 class="text-secondary">{% trans "Change Password" %}</h3>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-8 col-xl-6 col-md-8 col-sm-4 col-xs-12">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <button type="submit" name="action" class="btn btn-block btn-success">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}