{% extends "make_trip/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block container %}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-sm-12 mt-5 mb-3 mx-auto">
            <h3 class="text-secondary">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8 col-xl-6 col-md-8 col-sm-4 col-xs-12">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% bootstrap_form form layout='inline' %}
                        <input type="submit" name="action" class="btn btn-block btn-success" value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}