<!doctype html>
<html lang="ja" class="h-100">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    </head>
    <body class="text-center h-100 position-relative" style="background-color: rgba(110, 155, 94, 0.47);">
        <div id="signup">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 mt-5 mb-3 mx-auto">
                        <h3 class="text-light">新規登録</h3>
                    </div>
                </div>
                <form action="{% url 'signUp' %}" method="POST">
                    <div class="row d-flex justify-content-center">
                        <div class="col-8 col-xl-6 col-md-8 col-sm-4 col-xs-12">
                            <div class="row mb-4">
                                <div class="col-12">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">登録</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>